* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.separator {
    width: 170px;
    height: 1px;
    margin: 0px auto; 
    
}
.separator--red-color {
    background-color: #EC7979;
}
.second-text {
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
        font-size: 18px;
    line-height: 21px;
    padding: 40px 0 80px;
    color: rgba(134, 135, 139, 1)
}
.customers {
    display: flex;
    justify-content: space-evenly;
    
    }

.text {
    height: 180px;
    width: 370px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(226, 226, 226, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    
}
.text::after {
    content: ''; 
    position: absolute;
    left: 50px; top: 179px;
    border: 20px solid transparent;
    border-top: 30px solid rgba(226, 226, 226, 1);
}

.info {
    display: flex;
    justify-content: flex-start;
    padding: 60px 0;
}
.name {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
    padding: 5px 0 ;
}
.info-text {
    margin-left: 30px;
}








